@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
        url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --base-color: 0;
    --base-saturation :0%;
    --main-bg-color: hsl(var(--base-color), var(--base-saturation), 80%);
    --content-bg-color: hsl(var(--base-color), var(--base-saturation), 100%);
    --border-color: hsl(var(--base-color), var(--base-saturation), 70%);
    --text-color: hsl(var(--base-color), var(--base-saturation), 20%);
    --fonts-stack-base: "robotoregular", Arial, Helvetica, sans-serif;
    --fonts-stack-heading: "robotolight", Arial, Helvetica, sans-serif;
}

/* utilities */
/* sr-only by ffoodd : https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

/* typo */
.h1 {
    color: var(--text-color);
    font-family: var(--fonts-stack-heading);
    font-size: 6rem;
    letter-spacing: -.015625em;
}

.h2 {
    color: var(--text-color);
    font-family: var(--fonts-stack-heading);
    font-size: 3.75rem;
    letter-spacing: -.0083333em;
}

.h3 {
    color: var(--text-color);
    font-family: var(--fonts-stack-base);
    font-size: 3rem;
}

.text-1 {
    color: var(--text-color);
    font-family: var(--fonts-stack-base);
    font-size: 1rem;
    letter-spacing: -.03125em;
}

.caption {
    color: var(--text-color);
    font-family: var(--fonts-stack-base);
    font-size: 0.75rem;
    letter-spacing: -.03333em;
}

/* body */
body {
    font-family: var(--fonts-stack-base);
}

body:before {
    background: var(--main-bg-color) url('../images/yokohama.webp');
    background-position: center center;
    background-size: cover;
    bottom:0;
    content:"";
    left:0;
    position: absolute;
    right:0;
    top:0;
}

body > * {
    position: relative;
    z-index:1;
}

body.dark-mode {
    --main-bg-color:  	hsl(220, 26%, 14%);
    --content-bg-color: hsl(216, 23%, 23%);
    --border-color:  	hsl(218, 17%, 35%);
    --text-color: hsl(var(--base-color), var(--base-saturation), 100%);
}

body.dark-mode:before {
    filter: brightness(.8) contrast(1.2);
}

body.dark-mode .portrait:before, body.dark-mode .main-nav a::before {
    background-color: var(--border-color);
}

/* header */
.pseudo-header {
    background:var(--content-bg-color);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding:8px;
}

.pseudo-header ul {
    display: flex;
    justify-content: space-between;
    margin:0;
    padding:0;
}

.pseudo-header li {
    display: inline-block;
}

.btn-toggle {
    display:none;
}

.show-btn {
    display:block;
}

/* content */
.main-content {
    display: flex;
    min-height: 90vh;
}

.card {
    background: var(--content-bg-color);
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: auto;
    max-width: 96%;
    text-align: center;
    width:520px;
}

.card>*:not(.main-nav, .portrait) {
    margin: 16px;
}

.portrait {
    height: 120px;
    margin: -60px auto 0 auto;
    position: relative;
    width: 120px;
}

.portrait:before {
    background: var(--text-color);
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    height: 100px;
    left: 10px;
    position: absolute;
    width: 100px;
    z-index: 0;
}

.portrait img {
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.main-nav {
    border-top: 1px solid var(--border-color);
    padding: 1rem;
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav a {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.main-nav a:before {
    background-color: var(--main-bg-color);
    border-radius: 50%;
    content: '';
    display: block;
    height:40px;
    width:40px;
}

.main-nav .website-icon:before {
    background-image: url('../images/home.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.main-nav .linkedin-icon:before {
    background-image: url('../images/LinkedIn_Logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.main-nav .github-icon:before {
    background-image: url('../images/GitHub-Mark.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color:  	hsl(220, 26%, 14%);
        --content-bg-color: hsl(216, 23%, 23%);
        --border-color:  	hsl(218, 17%, 35%);
        --text-color: hsl(var(--base-color), var(--base-saturation), 100%);
    }

    body:before {
        filter: brightness(.8) contrast(1.2);
    }

    .portrait:before, .main-nav a::before {
        background: var(--border-color);
    }

    body.light-mode {
        --main-bg-color: hsl(var(--base-color), var(--base-saturation), 80%);
        --content-bg-color: hsl(var(--base-color), var(--base-saturation), 100%);
        --border-color: hsl(var(--base-color), var(--base-saturation), 70%);
        --text-color: hsl(var(--base-color), var(--base-saturation), 20%);
    }
}